
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='scripts/utilities.js') }}"></script>
    <script src="{{url_for('static', filename='scripts/gameUI.js') }}"></script>
    <script src="{{url_for('static', filename='scripts/uiTemplates.js') }}"></script>
    <script src="{{url_for('static', filename='scripts/gameEvents.js') }}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='content/site.css') }}">
</head>
<body>
    <div id="layout">
        <div id="GameBoard">
            <div id="personalDetailsPopup" class="popup hidden" style="z-index: 10;">
                <form id="personalDetails" method="POST" action='#'>
                    <center><label>Choose your icon</label></center>
                    
                    <div class="form-input">
                        <div id="icon-select-area">
                            <img class="icon-select" src="../static/images/icons/tequila.png" alt="tequila" onclick="selectIcon(this)"/>
                            <img class="icon-select" src="../static/images/icons/music.png" alt="music" onclick="selectIcon(this)"/>
                            <img class="icon-select" src="../static/images/icons/beer.png" alt="beer" onclick="selectIcon(this)"/>
                        </div>
                    </div>


                    <input id="personalDetailsSubmit" type="submit" value="submit" style="position: absolute; bottom: 5px; left: 50%; transform: translate(-50%, 0%);">
                </form>
            </div>


            <div id="rollDicePopup" class="popup hidden">
                <form id="rollDice" method="POST" action='#'>
                    <center><label>Your turn to roll!</label></center>
                    <center><h1 id="roll-value"></h1></center>
                    <input id="rollDiceSubmit" type="submit" value="submit" style="position: absolute; bottom: 5px; left: 50%; transform: translate(-50%, 0%);">
                </form>
            </div>


            <div id="tiles">

            </div>

            <div id="playerMarkers">

            </div>

            <div id="last-roll">
                <center><label id="roller"></label></center>
                <center><h1 id="last-roll-value"></h1></center>
            </div>
        </div>
        <div id="SideBar">
            <div id="Metadata" class="side-panel">
                <h4>
                    Room key
                </h4>
                <h4 id="room_key" style="margin-left: 25px; font-weight: normal;"></h4>
            </div>
            <div id="Players" class="side-panel">
                <h4>Player list</h4>
                <div id="PlayerList">
                </div>
            </div>
            <div id="ActiveRules" class="side-panel">
                <h4>Active Rules</h4>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>

    <template id="tileTemplate">
        <div id="tile" class="tile">
            <p id="tileName" class="tileTitle">

            </p>
        </div>
    </template>

    <template id="playerListTemplate">
        <div id="playerListItem" class="player-list-item">
            <div class="player-details">
                <img class='player-icon'></img>
                <div id="playerName"></div>
            </div>
            <img class='kick-icon'> </img>
        </div>
    </template>

    <template id="playerMarkerTemplate">
        <div id="playerMarker" class="player-marker">
            <img class='player-icon'></img>
        </div>
    </template>
</body>
</html>